#
# Copyright 2020 Joyent, Inc.
#

#
# This file is part of the Joyent platform image.  It is intended to configure
# networking prior to being configured by Triton.
#

[Match]
KernelCommandLine=triton.dhcp-all-nics

[Network]
DHCP=ipv4
