#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# Copyright 2020 Joyent, Inc.
#

#
# This file is part of the Joyent platform image.  It is intended to configure
# networking prior to being configured by Triton.
#

[Match]
KernelCommandLine=triton.dhcp-all-nics

[Network]
DHCP=ipv4
