#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# Copyright 2021 Joyent, Inc.
#

#
# This file is delivered as part of the Triton Platform Image.
#
# This file is in charge of calling the install-lxd script, which will
# proceed with the required LXD configuration into the CN
#

[Unit]
Description=Triton Filesystem Service
Documentation=Supplementary Triton filesystem features
After=zfs-import.target
Before=triton-cn-agent.service
Before=triton-config-agent.service
Before=triton-hostid.service
Before=triton-install-lxd.service
Before=triton-lxd.service
Before=triton-net-agent.service
Before=triton-ssh-hostkey.service
Before=triton-ur-agent.service
Before=triton-vm-agent.service
Before=zfs-mount.service

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/usr/triton/bin/triton-fs

[Install]
RequiredBy=zfs-mount.service
