#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# Copyright 2020 Joyent, Inc.
# Copyright 2022 MNX Cloud, Inc.
#

#
# This file is delivered as part of the Triton Linux Platform Image.
#
# On boot, the node ur-agent process will connect to a rabbitmq host
# to heartbeat information about this compute node. The sdc-server
# setup will communicate with the ur-agent to launch scripts that
# will configure and setup the compute node.
#

[Unit]
Description=Triton ur-agent used for server setup
Documentation=https://github.com/TritonDataCenter/sdc-ur-agent#linuxcn
After=network.target

[Service]
EnvironmentFile=/usr/triton/config/systemd.env
Type=simple
ExecStart=/usr/node/bin/node /usr/triton/defaults/agents/ur-agent/ur-agent

[Install]
WantedBy=multi-user.target
