#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# Copyright 2020 Joyent, Inc.
#

#
# This file is delivered as part of the Triton Platform Image.
#
# The zpool has some persistent configuration that systemd needs to know about
# but it is not feasible to set dependencies that force zfs.target to happen
# early enough.  This service is used to perform the necessary notifications.
#
# XXX-linuxcn As this project matures, anything that remains should be broken up
# into very focused services.
#

[Unit]
Description=Triton nudges after ZFS pool is imported
Documentation=https://github.com/joyent/linux-live
After=zfs.target
# This service may rename network links and these renames may be important to
# configuratoin specified by /etc/systemd/network/*.network.
Before=systemd-networkd.service

[Service]
ExecStart=/usr/triton/bin/post-zpool-import
Type=oneshot
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
