#
# Copyright 2020 Joyent, Inc.
#

#
# This file is delivered as part of the Triton Platform Image.
#
# Linux generates the hostid based upon the IP address of the system.  If the IP
# address changes (e.g. DHCP lease expires while it is down) this can cause ZFS
# pools to not be imported automatically.  This service should run before the
# any ZFS pool is imported to set the hostid to a value.
#

[Unit]
Description=Set hostid based on system uuid
Documentation=https://github.com/joyent/linux-live
After=systemd-remount-fs.service
Before=zfs-import-cache.service
Before=zfs-import-scan.service
Before=zfs-import.service
Before=zfs-mount.service
Before=zfs-share.service
Before=zfs-volume-wait.service
Before=zfs-zed.service

[Service]
ExecStart=/usr/triton/bin/set-hostid
Type=oneshot
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
