#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# Copyright 2020 Joyent, Inc.
#

#
# This template allows containers to be started easily with:
#
#   systemctl start triton-instance@$name
#
# That expects that the instance has been installed and configured.
# Installation generally involves cloning a Triton container image and mounting
# it under /var/lib/machines.
#
#   zfs clone -o mountpoint=/var/lib/machines/$name \
#      triton/$image_uuid triton/$name
#
# Configuration generally involves creating /var/lib/machines/$name/$name.nspawn
# that contains:
#
#   [Exec]
#   Boot=on
#   PrivateUsers=auto
#
# WARNING: Default NIC names are based on the isntance name.  Linux limits nic
# names to 16 characters, which is much shorter than a UUID.
#
[Unit]
Description=nspawn-1

[Service]
ExecStart=/usr/bin/systemd-nspawn -b --machine=%i --settings=trusted \
        --directory=/var/lib/machines/%i/root

[Install]
Also=dbus.service
